:root{
    --dark: #314151;
    --darker: #1F2937;
    --darkest: #111827;
    --grey: #6B7280;
    --light: #EEE;
    --pink: #EC4899;
    --purple: #8B5CF6;
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fira sans', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--dark);
    color: white;
}

header{
    padding: 1rem 1rem;
    width: 100%;
    margin: 0 auto;
    background: #263142;
}

main h1{
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--grey);
    margin-bottom: 1rem;
}

#new-task-form{
    display: flex;
}

input, button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#new-task-input{
    flex: 1 1 0%;
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--light);
    font-size: 1.25rem;
}

#new-task-input::placeholder{
    color: var(--grey);
}

#new-task-submit{
    color: var(--pink);
    font-size: 1.25rem;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}

#new-task-submit:hover{
    opacity: 0.8;
}

#new-task-submit:active{
    opacity: 0.6;
}

main{
    flex: 1 1 0%;
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.task-list{
    padding: 1rem;
}

.task-list h2{
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--grey);
    margin-bottom: 1rem;
    margin-top: 50px;
}

#upcoming-tasks .task{
    display: flex;
    justify-content: space-between;
    background-color: var(--darkest);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem; 
}

#upcoming-tasks .task .content{
    flex: 1 1 0%;
}

#upcoming-tasks .task .content .text{
    color: var(--light);
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}

#upcoming-tasks .task .content .text:not(:read-only){
    color: var(--pink);
}

#upcoming-tasks .task .actions{
    display: flex;
    margin: 0 -0.5rem;
}

.task .actions button{
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}

.task .actions button:hover{
    opacity: 0.8;
}

.task .actions button:active{
    opacity: 0.6;
}

#upcoming-tasks .task .actions .edit{
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
}

#done-tasks .task .actions .edit{
    display: none;
}

.task .actions .delete{
    color: crimson;
}

.task .actions .status{
    /* background-image: linear-gradient(to right, #8B5CF6, rgb(220, 20, 163)); */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
    color: rgb(220, 20, 103);
}

/* Search bar */
.search-form{
    display: flex;
    position: relative;
    width: 50%;
    left: 25%;
}

.search-field {
    -webkit-appearance: none;
    appearance: none;
    background: #fff;
    border-bottom: 1px solid #ddd;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0;
    border-left: 1px solid #ddd;
    border-right: 0;
    border-top: 1px solid #ccc;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0;
    box-shadow: none;
    flex: 1 1 auto;
    font-size: 1rem;
    padding: 0 1rem;
    transition-delay: 0s;
    transition-duration: .2s;
    transition-property: border-top-color,border-bottom-color,border-left-color,background-color;
    transition-timing-function: ease-out;
    width: 0;
}

/* Search bar clear button */
.clear-btn {
    background: none;
    border: none;
    bottom: 0;
    height: 2.75rem;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0.5625rem;
    top: 0;
    transition: opacity .1s ease-out;
    visibility: hidden;
    width: 2.25rem;
    cursor: pointer;
}

.clear-btn-spacing {
    right: 2.75rem;
}

.filledin~.clear-btn {
    opacity: .6;
    visibility: visible;
}

.search-field.clearable {
    padding-right: 1.875rem;
}

/* Search bar search button */
.search-btn {
    cursor: pointer;
    align-items: center;
    background: var(--grey);
    border: 0;
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    display: flex;
    flex: 0 0 auto;
    height: 2.75rem;
    justify-content: center;
    padding: 0;
    transition: background-color .15s ease-out;
    width: 2.75rem;
}

.search-btn-icon {
    height: 1.25rem;
    transition: all .1s ease-out;
    width: 1.3125rem;
}






/* Done tasks appearance */
#done-tasks .task{
    display: flex;
    justify-content: space-between;
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem; 
}

#done-tasks .task .content{
    flex: 1 1 0%;
}

#done-tasks .task .content .text{
    color: var(--grey);
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}

#done-tasks .task .content .text:not(:read-only){
    color: var(--pink);
}

#done-tasks .task .actions{
    display: flex;
    margin: 0 -0.5rem;
}